.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #0277ea;
}

a {
    color: #1798A5;
}

.side-nav li a:not(.button) {
    color: #000000;
}

.side-nav li a:not(.button):hover {
    color: #0277ea;
}

header {
    background-color: #333333;
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
    border-bottom: 5px #029eea solid;
    border-top: 20px #000000 solid;
}

#priorityCircle{
    border-radius: 50%;
    height:20px;
    width: 20px;
    float: left;
    margin-right: 10px;
}

#content{
    height:500px;
    overflow: hidden;
    
    margin-left: 20%;
}


#top{
    height: 30px;
    background-color: #000000;
}

#user{
    float: right;
    color: #ffffff;
    padding-right: 10px;
    width:250px;
}

u { 
    text-decoration: underline;
    text-decoration-color:#1798A5;
}

#login{
    width:50%;
    background-color: #B6B7BC;
    margin-left: 27%;
}

ul#adminMenu li{
    display: inline;
    border-right: 1px #029eea solid;
    padding: 0px 5px 5px 10px;
    font-size: 17px;

}

#newticket{
    float: right;
    background: #029eea;
    border: 1px #000000 solid;
    margin-right: 30px;
    margin-top: 80px;
    padding: 3px 10px 3px 10px;
}

#newticket:hover{
    background: #0277ea;
}

#ticketbar{
    height:40px;
    background-color: #B6B7BC;
}

#search{
    width:80%;
    float: left;
    background-color: #029eea;
    height: 60px;
    margin-left: 10%;
}

#search_text{
    float: left;
}

#searchbar{
    width:30%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#search_contents{
    padding: 1%;
    padding-left: 30%;

}

#ticket_actions{
    border: 2px #B6B7BC solid;
    display: inline-block;
    float: right;
    margin-right: 10px;
}

#actions{
    padding: 5px;
}



#notifications{
    border: solid 5px #B6B7BC;
    width:40%;
    float: right;
    height:340px;
    margin-right: 15%;
    margin-bottom: 10px;
}

#singleUpdate{
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 2px #B6B7BC solid;
    background-color: #D9F0FB;
    display: inline-block;
    width: 100%;  
}


#overdueItems{
    background-color: #ffd9d9;
    border-bottom: 2px #B6B7BC solid;
    padding-left:3px;
    width:100%;
    display: inline-block;
}

#nonOverdueItems{
    border-bottom: 2px #B6B7BC solid;
    padding-left:3px;
    width:100%;
    display: inline-block;
}

#overdueText{
    padding-left: 30%;
    padding-top: 2%;
}

#items_trending{
    float: left;
    display: inline-block;
    padding-bottom:2px;
}

#chart_div2{
    float: right;
    margin-right: 3%;
}

#highTrending{
    /*background-color: #ffd9d9;*/
    padding-left: 2%;
    float: left;
    width: 100%;
    border-bottom: 2px #B6B7BC solid;
}

#trendingIcon{
    float: right;
    margin-right: 5%;
}

#lowTrending{
    /*background-color: #C5E2C5;*/
    padding-left: 2%;
    float: left;
    width: 100%;
}

#chart_div{
    display: inline-block;
}

#chart_div1{
    display: inline-block;
}

#chart_div3{
    float: right;
}

#myticketsChart{
    height:500px;
    width:500px;
    float: right;
    border: solid 5px #B6B7BC;
}
#priority_kpi{
    color: #000000;
    border: solid 5px #B6B7BC;
    padding-bottom: 1%;
    float: left;
    height: 340px;
    width: 30%;
    margin-left: 5%;
}

#reportLink{
    height: 120px;

}

#linkImage{
    float: left;
    margin-right: 12px;
}

#greyContent{
    background-color: #F0F0F1;
    height: 80%;
    width: 60%;
    border-radius: 15px;
    margin-left: 10%;
    padding: 2%;
}

#margin{
    margin-left: 15%;
    margin-top: 5%;
}


#current{
    background-color: #A3A4A9;
    border-radius: 40px;


}

input[type="submit"]{
    box-shadow: none;
    background: #ffffff;
    box-shadow: none;
    text-transform: uppercase;
    color: #000000;
}


#headerlogo{
    float: left;
    display: inline-block;;
}

header .header-title {
    padding-left:80px
}

legend {
    color:#15848F;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #15848F;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#15848F;
}

.index table {
    margin-top: 2rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

button {
    background: #8D6E65;
}
    
ul#ticket_list li{
    display: inline;
    padding-left: 30px;
    font-weight: bold;
}

ul#ticket_list {
    padding-top: 5px;
}

#update_list {
    background-color: #F0F0F1;
    width:70%;
    color: #000000;
   
}

#search_results{
    border-bottom: 2px #B6B7BC solid;
}

#search_results:hover{
   background-color:#E1E2E3;
}

#action_box{
    
}

td{
    overflow: hidden;
}

input[type="text"]::-moz-placeholder {
    color: #000000;
}

.form button:hover, .form button:focus {
    background: #7A6058;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26) !important;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.home header {
    width: 100%;
    height: 35%;
    position: relative;
    display: table;
}

.home h1 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
}

.home header .header-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home header h1 {
    color: #fff;
}

.home .checks {
    padding:30px;
    color: #626262;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-top:50px;
}

.checks.url-rewriting {
    background-color: #F0F0F0;
    display: none;
}

.checks.platform {
    background-color: #B7E3EC;
}

.checks.filesystem {
    background: #DCE47E;
}

.checks.database {
    background-color: #DFF0D8;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.home .checks .success:before, .home .checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.home .checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.home .checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #333333;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #333333;
    border-bottom: 5px #029eea solid;


}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #308e97;
    background: #308e97;
}

.side-nav li.heading {
    color: #029eea;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #B6B7BC;
    width: 17%;
}

#ticket_title{
    padding-left: 10px;
    background-color: #F0F0F1;
    padding-bottom: 1px;
    font-size: 1.8rem;
    color: #323232;
}

#update_info{
    padding-left: 10px;
    margin-top: 20px;
}

#update_actions{
    float:right;
    display: inline-block;
    padding-right: 10px;
}

.index table {
    margin-top: 0rem;
    border: 0;
}

#ticket_view{
    width:250px;
    float:right;
    border: 2px #B6B7BC solid;
}

#numTextLogo{
    width: 30%;
    height:30%;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #029eea;
    text-align: left;
    border-bottom: 2px solid #029eea;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    color: #4d4d4d;
    font-size: 0.875rem;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #029eea;
    width: 100%;
    line-height: 2rem;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover, .form button:focus {
    background: #0277ea;
    box-shadow: none;
}

button {
    background: #029eea;
}

div.message {
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #029eea;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: hidden;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #be140b;
    display: inline-block;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #ebaa20;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}
