*{
	font-family: Arial, Helvetica, sans-serif ;
}

header{
	background-color: #333333;
	color: white;
	border-bottom: 5px #0284c3 solid;
	float:left;
	width:100%;
	height:10%;
}

#blackBar{
	width: 100%;
    height: 30px;
    background-color: Black;
	padding-bottom: 5px;
	float:left;
	color:white;
}

ul#adminMenu li{
	display:inline;
    border-right: 1px #0284c3 solid;
    color: #dde4ec;
    padding: 0px 10px 5px 10px;
    text-decoration: none;
	float:right;
	font-size:15px;

}

#barText{
	size:5px;
	
}

#form{
	margin:10px;
	width:100%;

}

#homecare{

		float:right;
}

content {
  width: 35%;
  margin: 7px;
  overflow: hidden;
  background-color: #FCFCFC;
  float: left;
  margin-left: 20%;
}

label {
    float: left;
    width: 14%;
    text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
   
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}


section {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #b6b7bc;
}
body {
    background-color: #CAD5D5;
	overflow:hidden;
}


h1{
  float: left;
  padding-left: 20px;
  border-left-style: solid;
  border-left-color:#0284c3;
  margin: 10px;
  width:50px;
  margin-top: 50px;
}

h2{
	border-bottom-style: solid;
    border-bottom-color:#0284c3;
	margin:10px;
}
#logo{
	float:left;
	padding: 20px;
	padding-left:165px;
}


ul#menu li{
	display:inline;
	background-color: #333333;
    border: 1px #000 solid;
    color: #dde4ec;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
	float:left;

}

ul#menu li:hover, ul#menu li:active {
	background-color: #b6b7bc;
	cursor: pointer;

}

#menubar{
  float: right;
  padding-top: 60px;
  /* padding-bottom: 0px; */
  padding-right: 600px;

}


